.navigation{
  width:100%;
  &__layout{
    @include css-reset;
    display:flex;
    list-style-type: none;
  }
  &__item{
    margin-right:4%;
    font-size: map-get($type-ramp,md)
  }
  &__item--title{
    margin-right:auto;
    margin-left:4%;
  }
}
