.navigation{
  width:100%;
  &__layout{
    @include css-reset;
    display:flex;
    list-style-type: none;
    border-bottom: 1px solid lighten($primary-color,75%);
  }
  &__item{
    padding-top:20px;
    padding-bottom:20px;
    margin-right:4%;
    font-size: map-get($type-ramp,md-mobile);
    color: $secondary-color;
    cursor:pointer;
    transition:.35s;
    &:hover{
      color:$primary-color;
    }
    // @include breakpoint(large){
    //   font-size: map-get($type-ramp,lg)
    // }
  }
  &__item--title{
    margin-right:auto;
    margin-left:4%;
    color:$primary-color;
  }
}
